<span>Name: </span>
<input [(ngModel)]="name">
<!--<div>
  <armor-display [armors]="pc.armors"></armor-display>
  Armor Class: {{ pc.ac }}
</div>-->
<form>
  <class-display [appClass]="class" *ngFor="let class of pc.classes"></class-display>
</form>
<p>{{ pc.getTotalLvl() }}</p>
<div>
  <ability-display [ability]="ability" *ngFor="let ability of pc.abilities"></ability-display>
</div>
<div>
  <skill-display [skill]="skill" [player]="pc" *ngFor="let skill of pc.skills"></skill-display>
</div>

<race></race>
