<span>Name: </span>
<input [(ngModel)]="name">
<div>
  <div>
    <label>Armor Type:</label>
    <select [(ngModel)]="equippedArmor">
      <option [ngValue]="armor" *ngFor="let armor of ARMORS">{{ armor.name }}</option>
    </select>
  </div>
  Armor Class: {{ pc.ac }}
</div>
<div>
  <ability-display [ability]="ability" *ngFor="let ability of pc.abilities"></ability-display>
</div>
<div>
  <skill-display [skill]="skill" [player]="pc" *ngFor="let skill of pc.skills"></skill-display>
</div>
<class></class>
<race></race>
