<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div>
   <div>
      <label>Character Name: </label>
      <input [(ngModel)]="pc.name">
   </div>
   <div><!--Classes-->
      <button (click)="pc.addClass()">+</button>
      <label>Classes: </label>
      <span *ngFor="let class of pc.classes; let i = index">
         <select [(ngModel)]="class.name">
            <option selected value="None">None</option>
            <option value="Paladin">Paladin</option>
         </select>
         <select [(ngModel)]="class.lvl"
         (ngModelChange)="pc.getTotalLvl($event.target)">
            <option selected [ngValue]="0">0</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="11">11</option>
            <option [ngValue]="12">12</option>
            <option [ngValue]="13">13</option>
            <option [ngValue]="14">14</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="16">16</option>
            <option [ngValue]="17">17</option>
            <option [ngValue]="18">18</option>
            <option [ngValue]="19">19</option>
            <option [ngValue]="20">20</option>
         </select>
         <button (click)="pc.removeClass(i, 1)">-</button>
      </span>
   </div>
   <div>Total Level: {{pc.totalLvl}}</div>
   <div>
      <label>Race: </label>
      <select [(ngModel)]="pc.race.name"
      (ngModelChange)="pc.updateRace()">
         <option selected value="Undecided">Undecided</option>
         <option value="Tiefling-Abyssal">Tiefling (Abyssal)</option>
      </select>
   </div>
   <div><!--Derived/Misc. Stats-->
      <div>
         <label>Armor Class: </label>
         <span>{{pc.getArmorClass(pc.baseAC)}}</span>
      </div>
      <div>
         <label>Initiative: </label>
         <span>{{display(pc.getMod(dex))}}</span>
      </div>
      <div>
         <label>Proficiency Bonus: </label>
         <span>+{{pc.profBonus}}</span>
      </div>
      <div>
         <label>Speed: </label>
         <span>{{pc.race.speed}} ft.</span>
      </div>
      <div>
         <label>Size: </label>
         <span>{{pc.race.size}}</span>
      </div>
      <br>
   </div>
   <div><!--Ability Scores, Modifiers and Saving Throws-->
      <div><!--Strength-->
         <label>Strength: </label>
         <input [(ngModel)]="pc.score[str]">
         <div>
            <label>Modifier: </label>
            <span>{{display(pc.getMod(str))}}</span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(str, false))}}</span>
         </div>
         <!--<div>
            <input type="checkbox" [(ngModel)]="pc.str.athletics.isProficient"
            (ngModelChange)="pc.str.athletics.update(pc.str.mod, pc.profBonus)">
            <label>Athletics: </label>
            <span>{{pc.str.athletics.bonus}}</span>
         </div>-->
         <br>
      </div>
      <div><!--Dexterity-->
         <label>Dexterity: </label>
         <input [(ngModel)]="pc.score[dex]">
         <div>
            <label>Modifier: </label>
            <span>{{display(pc.getMod(dex))}}</span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(dex, false))}}</span>
         </div>
         <!--<div>
            <input type="checkbox" [(ngModel)]="pc.dex.acrobatics.isProficient"
            (ngModelChange)="pc.dex.acrobatics.update(pc.dex.mod, pc.profBonus)">
            <label>Acrobatics: </label>
            <span>{{pc.dex.acrobatics.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.dex.sleightOfHand.isProficient"
            (ngModelChange)="pc.dex.sleightOfHand.update(pc.dex.mod, pc.profBonus)">
            <label>SleightOfHand: </label>
            <span>{{pc.dex.sleightOfHand.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.dex.stealth.isProficient"
            (ngModelChange)="pc.dex.stealth.update(pc.dex.mod, pc.profBonus)">
            <label>Stealth: </label>
            <span>{{pc.dex.stealth.bonus}}</span>
         </div>-->
         <br>
      </div>
      <div><!--Constitution-->
         <label>Constitution: </label>
         <input [(ngModel)]="pc.score[con]">
         <div>
            <label>Modifier: </label>
            <span>
               {{display(pc.getMod(con))}}
            </span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(con, false))}}</span>
         </div>
         <br>
      </div>
      <div><!--Intelligence-->
         <label>Intelligence: </label>
         <input [(ngModel)]="pc.score[int]">
         <div>
            <label>Modifier: </label>
            <span>{{display(pc.getMod(int))}}</span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(int, false))}}</span>
         </div>
         <!--<div>
            <input type="checkbox" [(ngModel)]="pc.int.arcana.isProficient"
            (ngModelChange)="pc.int.arcana.update(pc.int.mod, pc.profBonus)">
            <label>Arcana: </label>
            <span>{{pc.int.arcana.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.int.history.isProficient"
            (ngModelChange)="pc.int.history.update(pc.int.mod, pc.profBonus)">
            <label>History: </label>
            <span>{{pc.int.history.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.int.investigation.isProficient"
            (ngModelChange)="pc.int.investigation.update(pc.int.mod, pc.profBonus)">
            <label>Investigation: </label>
            <span>{{pc.int.investigation.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.int.nature.isProficient"
            (ngModelChange)="pc.int.nature.update(pc.int.mod, pc.profBonus)">
            <label>Nature: </label>
            <span>{{pc.int.nature.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.int.religion.isProficient"
            (ngModelChange)="pc.int.religion.update(pc.int.mod, pc.profBonus)">
            <label>Religion: </label>
            <span>{{pc.int.religion.bonus}}</span>
         </div>-->
         <br>
      </div>
      <div><!--Wisdom-->
         <label>Wisdom: </label>
         <input
          [(ngModel)]="pc.score[wis]">
         <div>
            <label>Modifier: </label>
            <span>{{display(pc.getMod(wis))}}</span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(wis, false))}}</span>
         </div>
         <!--<div>
            <input type="checkbox" [(ngModel)]="pc.wis.animalHandling.isProficient"
            (ngModelChange)="pc.wis.animalHandling.update(pc.wis.mod, pc.profBonus)">
            <label>Animal Handling: </label>
            <span>{{pc.wis.animalHandling.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.wis.insight.isProficient"
            (ngModelChange)="pc.wis.insight.update(pc.wis.mod, pc.profBonus)">
            <label>Insight: </label>
            <span>{{pc.wis.insight.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.wis.medicine.isProficient"
            (ngModelChange)="pc.wis.medicine.update(pc.wis.mod, pc.profBonus)">
            <label>Medicine: </label>
            <span>{{pc.wis.medicine.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.wis.perception.isProficient"
            (ngModelChange)="pc.wis.perception.update(pc.wis.mod, pc.profBonus)">
            <label>Perception: </label>
            <span>{{pc.wis.perception.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.wis.survival.isProficient"
            (ngModelChange)="pc.wis.survival.update(pc.wis.mod, pc.profBonus)">
            <label>Survival: </label>
            <span>{{pc.wis.survival.bonus}}</span>
         </div>-->
         <br>
      </div>
      <div><!--Charisma-->
         <label>Charisma: </label>
         <input
          [(ngModel)]="pc.score[cha]">
         <div>
            <label>Modifier: </label>
            <span>{{display(pc.getMod(cha))}}</span>
            <label>Saving Throw: </label>
            <span>{{display(pc.getSave(cha, false))}}</span>
         </div>
         <!--<div>
            <input type="checkbox" [(ngModel)]="pc.cha.deception.isProficient"
            (ngModelChange)="pc.cha.deception.update(pc.cha.mod, pc.profBonus)">
            <label>Deception: </label>
            <span>{{pc.cha.deception.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.cha.intimidation.isProficient"
            (ngModelChange)="pc.cha.intimidation.update(pc.cha.mod, pc.profBonus)">
            <label>Intimidation: </label>
            <span>{{pc.cha.intimidation.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.cha.performance.isProficient"
            (ngModelChange)="pc.cha.performance.update(pc.cha.mod, pc.profBonus)">
            <label>Performance: </label>
            <span>{{pc.cha.performance.bonus}}</span>
         </div>
         <div>
            <input type="checkbox" [(ngModel)]="pc.cha.persuasion.isProficient"
            (ngModelChange)="pc.cha.persuasion.update(pc.cha.mod, pc.profBonus)">
            <label>Persuasion: </label>
            <span>{{pc.cha.persuasion.bonus}}</span>
         </div>-->
         <br>
      </div>
   </div>
</div>
